uwsgi
cython
django<2
social-auth-app-django
django-rest-swagger
jsonfield
simplejson
croniter
influxdb
peewee
beautifulsoup4==4.7.1
lxml==4.9.1
numpy==1.15.4
pandas==0.24.1
pymysql==0.9.3
sqlalchemy==1.2.17
pyopenssl==19.0.0
requests==2.21.0
xlrd==1.2.0
selenium==3.141.0
tzlocal==1.5.1
flask==1.0.2
flask-httpauth==3.2.4
flask-limiter==1.0.1
flask-restplus==0.12.1
itsdangerous==1.1.0
jinja2==2.10
jsonschema==2.6.0
limits==1.3
markupsafe==1.1.0
werkzeug==0.14.1